@media screen and (min-width: 360px) {
    .sec2 {
        .why-us {
            li {
                p {
                    padding: 1em 2em;
                }
            }
        }
    }
    .blog {
        ul {
            li {
                .blog-post {
                    sup {
                        padding: 2em 0;
                    }
                    p {
                        font-size: .9em;
                    }
                    h4 {
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 700px) {
    .intro {
        .intro-text {
            h1 {
                font-size: 3em;
            }
            p {
                font-size: 2em;
                padding: 2em;
            }
            .intro-btn {
                button {
                    width: 230px;
                    height: 60px;
                    font-size: 20px;
                    font-weight: bold;
                    border-radius: 20px;
                }
            }
        }
    }
    .blog {
        height: 1500px;
        display: block;
        h3 {
            font-size: 2.5em;
            padding: 1em 0;
            font-weight: 600;
        }
        ul {
            height: 1500px;
            li {
                flex-direction: row;
                .blog-post {
                    sup {
                        font-size: 1.2em;
                    }
                    h4 {
                        padding: .5em 0;
                        font-size: 1.5em;
                        font-weight: 600;
                    }
                    p {
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
    .sec2 {
        height: 1400px;
        .why-us {
            height: auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-column-gap: 1em;
            width: 90%;
            margin: auto;
            li {
                text-align: left;
                padding: 0;
                h3 {
                    padding: 1.5em 0 0 0;
                    font-size: 2em;
                    font-weight: 300;
                    padding: 1em 0;
                }
                p {
                    padding: 0;
                    font-size: 1.5em;
                }
                &:first-child {
                    grid-column: 1/3;
                    grid-row: 1/2;
                    text-align: left;
                    h2 {
                        font-size: 2.5em;
                        padding: 2em 0 0 0;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
    footer {
        height: 300px;
        margin: 300px 0 0 0;
        div {
            flex-direction: row;
            height: 300px;
            align-items: unset;
            justify-content: space-around;
            ul {
                padding: 1em 0 0 0;
            }
            .footer-links {
                display: flex;
                width: 250px;
                justify-content: space-between;
                ul {
                    li {
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media screen and(min-width: 1000px) {
    body {
        height: 100%;
        position: absolute;
    }
    .container {
        overflow-x: hidden;
    }
    .menu {
        display: none;
    }
    .nav {
        width: 100%;
        .logo {
            flex: 1;
            text-align: center;
        }
        .nav-links {
            flex: 2;
            display: block;
            text-align: center;
            a {
                text-decoration: none;
                color: $Grayishblue;
                padding: 0 10px;
                &:hover {
                    cursor: pointer;
                    border-bottom: 2px solid $Grayishblue;
                }
            }
        }
        .li-btn {
            flex: 1;
            display: block;
            .nav-btn {
                width: 160px;
                height: 40px;
                border-radius: 20px;
                border: none;
                color: $white;
                background: linear-gradient(90deg, $limegreen, $brightcyan);
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .nav-menu {
            display: none;
        }
    }
    .intro {
        flex-direction: row-reverse;
        padding: 0 0 0 10%;
        .intro-img {
            background-image: url('img/bg-intro-desktop.svg');
            background-size: cover;
            position: relative;
            top: -150px;
            .m {
                position: relative;
                top: 50px;
                right: -90px;
                z-index: 2;
            }
        }
        .intro-text {
            align-self: center;
            justify-self: flex-start;
            z-index: 3;
            h1 {
                text-align: left;
                font-size: 3em;
                padding: 1em 0;
            }
            p {
                text-align: left;
                font-size: 1em;
                padding: 0 0 2em 0;
            }
            .intro-btn {
                display: block;
                margin: 0 0 100px 0;
                button {
                    width: 160px;
                    height: 40px;
                    font-size: 18px;
                    font-weight: normal;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .sec2 {
        position: relative;
        top: -180px;
        z-index: 1;
        height: 100%;
        .why-us {
            height: 100%;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            padding: 0 0 0 10%;
            grid-column-gap: 1em;
            width: 100%;
            padding-bottom: 3em;
            li {
                text-align: left;
                padding: 0;
                h3 {
                    padding: 1em 0 0 0;
                    font-size: 1.5em;
                }
                p {
                    padding: 1em 0;
                    font-size: 1em;
                }
                &:first-child {
                    grid-column: 1/5;
                    grid-row: 1/2;
                    text-align: left;
                    h2 {
                        font-size: 2.5em;
                        padding: 3em 0 0 0;
                        line-height: 1em;
                    }
                }
            }
        }
    }
    .blog {
        position: relative;
        height: 700px;
        width: 80%;
        margin: auto;
        h3 {
            font-size: 1.3em;
            font-weight: 200;
            text-align: left;
            padding: 0 0 2em 0;
        }
        ul {
            height: 400px;
            flex-direction: row;
            padding: 0;
            li {
                flex-direction: column;
                margin: 0 10px 0 0;
                flex: 1;
                .blog-post {
                    padding: 1em;
                    sup {
                        font-size: .7em;
                    }
                    h4 {
                        padding: .5em 0;
                        font-size: 1em;
                        font-weight: 400;
                    }
                    p {
                        font-size: .8em;
                    }
                }
            }
        }
    }
    footer {
        height: 300px;
        margin: 0;
        div {
            flex-direction: row;
            height: 300px;
            align-items: unset;
            justify-content: space-around;
            ul {
                padding: 1em 0 0 0;
            }
            .footer-links {
                display: flex;
                width: 300px;
                justify-content: space-between;
                ul {
                    li {
                        text-align: left;
                    }
                }
            }
        }
    }
}